/* ================================
  GLOBAL LAYOUT
==================================*/
* {
  box-sizing: border-box;
}
body {
  font-family:'Times New Roman', Times, serif;
  /* letter-spacing: .05em; */
  text-align: center;
  margin: 0;
  color: #9D9D9D;
}
fieldset {
  border: none;
}
button {
  width: 100%;
}
/* ================================
  MAIN LAYOUT
==================================*/
.container {
  width: 95%;
  margin: 0 auto;
}
h1 {
  margin-top: 0;
  background-color: #394E57;
  color: #fff;
  font-size: 1.5em;
  padding: 1.5rem;
}
h2,
legend {
  color: #394E57;
}
.main{
  border-top: solid .3rem #394E57;
}
.form, .newsletter {
  border-top: solid .15rem #394E57;
}
.form {
  margin-top: .1rem;
  text-align: left;
}
fieldset {
  margin-top: 1.5rem;
  padding-left: 0;
  padding-right: 0;
}
legend {
  margin-bottom: .5rem;
  font-size: 1.5em;
  font-weight: bold;
}
label {
  margin: .5rem 0 .5rem 0;
}
input, 
select,
textarea {
  background-color: #F4F4F4;
  border: none;
  border-radius: 5px;
  padding: 1rem;
}
input[placeholder] {
  text-align: right;
  font-style: italic;
  padding-right: 2em;
}
.news_section {
  margin-bottom: .5rem;
}
textarea {
  width: 100%;
}
button {
  background-color: #20BCB0;
  color: #fff;
  padding: 1rem 0;
  border-radius: 5px;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
}
footer {
  font-style: italic;
  margin: 2rem
}
/* ================================
  FLEXBOX
==================================*/
.contact-info,
.newsletter {
  display: flex;
  flex-direction: column;
}
/* ================================
  MEDIA QUERIES
==================================*/
@media (min-width: 768px) {
  .container, footer {
    width: 50%;
    margin: 0 auto;
  }
}