/* ================================
  GLOBAL LAYOUT
==================================*/
* {
  box-sizing: border-box;
}
body {
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #394E57;
  font-size: 14px;
}
fieldset {
  border: none;
}
button {
  font-family: 'Merriweather', serif;
  width: 100%;
}
/* ================================
  MAIN LAYOUT
==================================*/
.container {
  width: 90%;
  margin: 0 auto;
}
h1,
button,
legend {
  font-size: 1.5em;
}
h1,
button {
  color: #fff;
}
h1 {
  margin-top: 0;
  background-color: #394E57;
  padding: 1.5rem;
}
.heading {
  padding: 1rem 0;
  width: 85%; 
}
body,
h2 {
  margin: 0;
}
.heading p {
  margin-top: .5rem;
  color: #ababab;
}
.main{
  border-top: solid .3rem #394E57;
}
.form, 
.fieldTwo {
  border-top: solid .15rem #394E57;
}
.form {
  margin: .1rem 0;
  text-align: left;
}
fieldset {
  margin: 1.5rem 0 0 0;
  padding-left: 0;
  padding-right: 0;
}
.contact-info {
  margin-bottom: 2rem;
}
legend {
  margin-bottom: .5rem;
  font-weight: bold;
}
label {
  margin: .5rem 0;
}
input, 
select,
textarea,
button {
  border-radius: 5px;
  border: none;
}
input, 
select,
textarea {
  background-color: #F4F4F4;
  padding: 1rem;
  margin-bottom: .5rem;
}
.contact-info input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 0;
  border: 2px solid #1902AC;
}
.contact-info input:focus,
select:focus,
textarea:focus {
  background-color: #fff;
}
input[placeholder]::placeholder,
textarea::placeholder, 
footer {
  font-style: italic;
}
input[placeholder]::placeholder,
textarea::placeholder {
  text-align: right;
  opacity: .5;
}
select {
  color: #ababab;
}
select:valid {
  color: initial;
}
#zip {
  width: 50%;
}
.news_section {
  margin-bottom: 1rem;
}
.news_section:last-child {
  margin-bottom: 0;
}
#html_news, #html_format {
  margin-top: 1rem;
}
input[type="radio"], 
input[type="checkbox"] {
  margin: .5rem .5rem 1rem 0;
}
#comment {
  margin-top: 1.5rem;
}
textarea {
  width: 100%;
  height: 100px;
  resize: none;
}
button {
  background-color: #20BCB0;
  padding: 1rem 0;
}
button:hover {
  cursor: pointer;
  opacity: .5;
  transition: opacity 1s ease-in;
}
footer {
  margin: 2rem;
}
/* ================================
  FLEXBOX
==================================*/
.contact-info,
.newsletter {
  display: flex;
  flex-direction: column;
}
/* ================================
  MEDIA QUERIES
==================================*/
@media (min-width: 768px) {
  .heading {
    padding: 3rem 0 2rem 0 
  }
  .container {
    width: 70%;
  }
  legend {
    padding-top: 1rem;
  }
  .contact-info {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact-info label {
    flex: 1 30%;
    align-self: center;
  }
  .contact-info input, 
  .contact-info select {
    flex: 1 70%;
    margin: .5rem 0;
  }
  #zip {
    max-width: 30%;
  }
  label[for="zip"]{
    max-width: 30%;
  }
}